<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="controlTab">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="automationTab">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Automation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analyticsTab">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
