<ion-header>
  <ion-toolbar>
    <ion-title>
      Control
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group *ngFor="let controlGroup of controlGroups">
        <ion-item-divider>
            <ion-label>{{controlGroup.name}}</ion-label>
        </ion-item-divider>
  <!-- Toggles in a List -->
    <ion-item *ngFor="let control of controlGroup.controls">
        <ion-label>{{control.name}}</ion-label>
        <ion-toggle [color]="control.buttonColor" [checked]="control.on" (ionChange)="toggle(control)"></ion-toggle>
    </ion-item>
    </ion-item-group>
</ion-content>
