<ion-header>
  <ion-toolbar>
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                Master Bath Humidity
            </ion-card-header>
            <ion-card-content>
                <canvas #humidityCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Backyard Soil Moisture
            </ion-card-header>
            <ion-card-content>
                <canvas #soilMoistureCanvas></canvas>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
